body {
    background-color: lightgray;
}

h1 {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
font-size: 70px;
}

p {
    font-size: 40px;
}

strong {
color: red;
font-size: larger;
}

div {
    border: solid;
    padding: 12%;
    border-image-source:url(Képek\\Cartoon.jfif);
    box-shadow:20px 20px 25px black;
    border-image-width: 8%;
    border-image-slice: 10%; 
    width: 60%;
    height: 10cm;
    margin: auto;
    text-align: center;
    background-color: lightgoldenrodyellow;

    


}